// color palette - these colors will be the color swatches of the Colors section

$color-1: #726E75; // 
$color-2: #dddfdf; // 
$color-3: #b2b2b2; // 
$color-4: #e6e6e6; // 
$color-5: #eddfd4; // 
$color-6: #ffffff;
// additional colors

 // fonts
$body-font: 'Shadows Into Light Two',
cursive;
$heading-font: 'Architects Daughter',
cursive;

// Breakpoints:
$S: 32em;
$M: 32.1em;
$L: 52em;
